<div class='text-center'>
  <div>
    <h1>About</h1>
  </div>
  <div><%= link_to 'Home', root_path %> | <%= link_to 'Articles', articles_path %> | <%= link_to 'About', about_path %></div>
  <div>
    <p>Simple blog system written in Ruby on Rails 5.2</p>
  </div>
  <footer style='font-size: 0.5em'>© 2019 Alpha Blog, Inc.</footer>
</div>