<div class='text-center'>
  <div>
    <h1>About</h1>
  </div>
  <%= render 'layouts/nav' %>
  <div>
    <p>Simple blog system written in Ruby on Rails 5.2</p>
  </div>
  <footer style='font-size: 0.5em'>© 2019 Alpha Blog, Inc.</footer>
</div>